  /* ver 2.0 */
  /* 紐⑤뱺 �깭洹몄뿉 �쟻�슜 */
  *{
     font-family: Malgun Gothic; 
     font-size: 15px; 
     margin: 0px;  /* top right bottom left */
     padding: 0px;
     color: #555555;
  }  
  
  .container_main {
    width: 90%; 
    margin: 10px auto;
  }
  
  /* �씠誘몄� �궗�슜�떆 寃쎈줈 吏��젙
  /css/images/top_image_1920.jpg
  Spring Boot: /static/css/images/top_image_1920.jpg
  */
  .top_img {
    width: 100%;
    height: 100px;
    background-image: url('/css/images/top_image_1920.jpg');   /* background-image = 諛곌꼍 �씠誘몄� 吏��젙  */
  }
  
  .top_menu_label {
    position: relative; /* �냽�빐 �엳�뒗 遺�紐� �깭洹� 湲곗� �꽕�젙 */
    top: 1%;
    left: 0.5%;
    color: #FFFFFF;
  }
  
  .top_menu {
    position: relative; /* 遺�紐� �깭洹� 湲곗�, �솕硫� �긽�떒 湲곗�*/
    top: 50%; 
    background-color: rgba(50, 50, 255, 0.3);  /* 0.3: Alpha, �닾紐낅룄 */  
    color: white;
    padding-left: 10px; 
    height: 25px;
  }
  
  /* �솕硫� �긽�떒 硫붾돱 �꽭濡� 援щ텇�꽑
     <span class='top_menu_sep'>&nbsp;</span> */
  .top_menu_sep { 
    background: url('/css/images/gray.jpg') center center no-repeat;
    background-size: 1px;
    width:1px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .menu_line {
    width: 100%;
    border-bottom: dotted 1px #777777;
    margin: 20px 0px 10px 0px; /* top -> right -> bottom -> left */
    clear: both;
  } 
  
  .left_menu {
    width: 15%;
    float: left;
  }
  
  .content {
    width: 90%;
    margin: 10px auto;
  }
  
  .content_body {
    width: 99%;
    margin: 60px auto;
  }
  
  
  .content_body_left {
    width: 40%;
    margin: 20px 20px 20px 20px;
  }
  
  .content_body_right {
    width: 50%;
    margin: 20px 20px 20px 20px;
  }
  
  
  
  
  
  
  
  /* �솕硫� �궡�슜 �븯�떒 硫붾돱 �슦痢� 諛곗튂 */
  .content_body_bottom {
    clear: both;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: left;     /* �삤瑜몄そ �젙�젹*/
    width: 100%;
    background-color: white;
  }
  
  .content_bottom {
    width: 90%;
    margin: 10px auto;
  }
  
  .bottom_menu {
    text-align: center; 
    margin: 20px auto;
    clear: both;  /* �븵履� �깭洹몄쓽 float �슚怨쇰�� �젣嫄고븿. */
  }
  
  
  

  .aside_left {
    float: left;
    font-size: 1.3em;
  }
  
  /** 蹂몃옒�쓽 A �깭洹몄쓽 �겕湲곕�� �젣嫄고븯怨� 遺�紐⑥쓽 媛�蹂� �겕湲곕�� �궗�슜 */
  .aside_left A {
    font-size: 1.0em;
  }
  
  .aside_right {
    margin-left:10px;
    float: right;
    font-size: 0.9em;
  }

  .aside_right A {
    font-size: 1.0em;
  }
    
    /* ASIDE 硫붾돱 �꽭濡� 援щ텇�꽑 */
  .menu_divide { /* �꽌釉� 硫붾돱�쓽 �꽭濡� 援щ텇�꽑 */
    color: #777777;
    font-size: 0.8em; /* 遺�紐� 湲��옄 �겕湲곗뿉 鍮꾪빐�꽌 80%濡� 異쒕젰 */
    vertical-align: 10%;  /* 0%�뒗 bottom 湲곗� */
  }
  
  .copyright {
    margin-top: 10px;
    border-top: solid 1px #999999;
    text-align: center; 
    clear: both;  /* �븵履� �깭洹몄쓽 float �슚怨쇰�� �젣嫄고븿. */    
  }
  
  .li_none {
    list-style: none;
    margin: 15px 10px;
  }

  .li_none_left {
    text-align: left;
    list-style: none;
    margin: 15px 10px;
  }
  
  .li_warning { /* 寃쎄퀬 硫붿떆吏� */
    list-style: none;
    margin: 15px 10px;
    color: #FF6600;
  }
  
  .li_error { /* �뿉�윭 硫붿떆吏� */
    list-style: none;
    margin: 15px 10px;
    color: #FF0000;
  }
  
  .li_right {
    text-align: right;
    list-style: none;
    margin: 20px auto;
    padding-right: 20px;
  }
    
  .fieldset_basic {
    width: 90%; 
    margin: 10px auto; 
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    padding: 10px;
  }
  
  .legend_basic {
    margin-left: 30px; 
    border: solid 1px #999999; 
    background-color: #A6C2FF; 
    color: #FFFFFF;
  }
  
  .input_basic {
    border-top: none;
    border-right: none;
    border-bottom: solid 1px #999999;
    border-left: none;
    padding-left: 2px;
  }
  
  .textarea_basic {
    border-top: solid 1px #999999;
    border-right: solid 1px #999999;
    border-bottom: solid 1px #999999;
    border-left: solid 1px #999999;
    padding-left: 2px;
  }
  
  .title_line {
    text-align: left;
    border-bottom: solid 3px #555555;
    width: 100%;
    margin: 20px auto;
    font-size: 20px;    
  }
  
  .title_link:link{  /* 諛⑸Ц�쟾 �긽�깭 */
    font-size: 20px;    
    text-decoration: none; /* 諛묒쨪 �궘�젣 */
  }

  .title_link:visited{  /* 諛⑸Ц�썑 �긽�깭 */
    font-size: 20px;
    text-decoration: none; /* 諛묒쨪 �궘�젣 */
  }

  .title_link:hover{  /* A �깭洹몄뿉 留덉슦�뒪媛� �삱�씪媛� �긽�깭 */
    font-size: 20px;
    text-decoration: none; /* 諛묒쨪 異쒕젰 */
  }

  .title_link:active{  /* A �깭洹몃�� �겢由��븳 �긽�깭 */
    font-size: 20px;
    text-decoration: none; /* 諛묒쨪 異쒕젰 */
  }
  
  
  .sub_menu {
    text-align: right;
    width: 100%;
  }
  
  .table_basic {
    border-collapse: collapse;
    margin: 2px auto;
    width: 100%;
  }
  
  /* 1em 湲곕낯媛� : 16px, 二쇰� �깭洹몄쓽 湲��옄�겕湲곕�� 1em�쑝濡� �씤�떇
      DIV �깭洹멸� 20px �씪寃쎌슦 �옄�떇�깭洹멸� 0.5em�씠硫� 理쒖쥌�쟻�쑝濡� 10px�씠 �쟻�슜�맖.
      DIV �깭洹멸� 20px �씪寃쎌슦 �옄�떇�깭洹멸� 1em�씠硫� 理쒖쥌�쟻�쑝濡� 20px�씠 �쟻�슜�맖.
      DIV �깭洹멸� 20px �씪寃쎌슦 �옄�떇�깭洹멸� 1.5em�씠硫� 理쒖쥌�쟻�쑝濡� 30px�씠 �쟻�슜�맖.
  */
  .th_basic {
    font-size: 0.8em;
    border-bottom: solid 3px #DDDDDD; 
  }
  
  .th_bs {
    text-align: center;
  }
  
  .td_basic {
    border-top: none;
    border-right: none;
    border-bottom: solid 1px #DDDDDD;
    border-left: none;
    text-align: center;
  }
  
  .td_left {
    border-top: none;
    border-right: none;
    border-bottom: solid 1px #DDDDDD;
    border-left: none;
    text-align: left;
  }
  
  .td_bs {
    text-align: center;
  }
  
  .td_bs_left {
    text-align: left;
  }
  
  A:link{  /* 諛⑸Ц�쟾 �긽�깭 */
    text-decoration: none; /* 諛묒쨪 �궘�젣 */
    color: #555555;
  }

  A:visited{  /* 諛⑸Ц�썑 �긽�깭 */
    text-decoration: none; /* 諛묒쨪 �궘�젣 */
    color: #555555;
  }
  
  A:hover{  /* A �깭洹몄뿉 留덉슦�뒪媛� �삱�씪媛� �긽�깭 */
    text-decoration: underline; /* 諛묒쨪 異쒕젰 */
    color: #7777FF;
  }
  
  A:active{  /* A �깭洹몃�� �겢由��븳 �긽�깭 */
    text-decoration: underline; /* 諛묒쨪 異쒕젰 */
    color: #7777FF;
  }

  .menu_link:link{  /* 諛⑸Ц�쟾 �긽�깭 */
    text-decoration: none; /* 諛묒쨪 �궘�젣 */
    color: white;
  }

  .menu_link:visited{  /* 諛⑸Ц�썑 �긽�깭 */
    text-decoration: none; /* 諛묒쨪 �궘�젣 */
    color: white;
  }

  .menu_link:hover{  /* A �깭洹몄뿉 留덉슦�뒪媛� �삱�씪媛� �긽�깭 */
    text-decoration: underline; /* 諛묒쨪 異쒕젰 */
    color: white;
  }

  .menu_link:active{  /* A �깭洹몃�� �겢由��븳 �긽�깭 */
    text-decoration: underline; /* 諛묒쨪 異쒕젰 */
    color: white;
  }
  
  .recom_link:link{  /* 諛⑸Ц�쟾 �긽�깭 */
    text-decoration: none; /* 諛묒쨪 �궘�젣 */
    color: #555555;
    font-size: 0.8em;
  }

  .recom_link:visited{  /* 諛⑸Ц�썑 �긽�깭 */
    text-decoration: none; /* 諛묒쨪 �궘�젣 */
    color: #555555;
    font-size: 0.8em;
  }

  .recom_link:hover{  /* A �깭洹몄뿉 留덉슦�뒪媛� �삱�씪媛� �긽�깭 */
    text-decoration: none; /* 諛묒쨪 異쒕젰 */
    color: #7777FF;
    font-size: 0.8em;
  }

  .recom_link:active{  /* A �깭洹몃�� �겢由��븳 �긽�깭 */
    text-decoration: none; /* 諛묒쨪 異쒕젰 */
    color: #7777FF;
    font-size: 0.8em;    
  }
  
  .content_title {
    border-top: none;
    border-right: none;
    border-bottom: solid 1px #DDDDDD;
    border-left: none;
    margin-bottom: 20px;
  }   

  .content_bottom {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 0.9em;
  }
  
  .li_left_menu_1 { /* �솕硫� 醫뚯륫 ��遺꾨쪟 */
    list-style: none;
    margin-top: 25px;
    background: url(/css/images/li_left_menu_1.png) left center no-repeat;
    background-size: 16px;
    padding-left: 25px;
    line-height: 15px;
  }   
    
  .li_left_menu_2 { /* �솕硫� 醫뚯륫 以묐텇瑜� */
    list-style: none;
    margin: 15px 10px;
    background: url(/css/images/li_left_menu_2.png) left center no-repeat;
    background-size: 16px;
    padding-left: 25px;
    line-height: 15px;
  }   
  
  .label_basic {
    width: 200px;
    background-color: #99cc00;
    color: #FFFFFF;
    font-weight: normal;
    display: inline-block; /* DIV �깭洹몄쿂�읆 �븳以꾩쓽 �쁺�뿭�쓣 釉붾윮 �쁺�뿭�쑝濡� �솗�옣 �몴�떆 */
    text-align: right;
    padding-right: 10px;
  }
  
  /* 湲고� 硫붿떆吏� */
  .message {
    width: 100%;
    border: none;
    margin:70px auto;
    text-align: center;
    background-color: #FAFAFA;
    padding: 50px;
    
  }
  
  /* �븣由� 硫붿떆吏� */ 
  .span_info {
    color: #ffffff;
    background-color: rgba(0, 200, 0, 0.6);
    padding: 2px;
  }
  
  /* 二쇱쓽 硫붿떆吏� */
  .span_alert {
    color: #ffffff;
    background-color: rgba(0, 0, 200, 0.6);
    padding: 2px;
  }
  
  /* 寃쎄퀬 硫붿떆吏� */  
  .span_warning {
    color: #FFFFFF;
    background-color: rgba(255, 0, 0, 0.6);
    padding: 2px; 
  }
  
  .msg_warning {
    color: #FFFFFF;
    background-color: rgba(255, 0, 0, 0.6);
    padding: 2px;
    margin: 10px auto;
    text-align: center;
    width: 80%; 
  }  
  
  /* 泥섎━ �꽦怨� 硫붿떆吏� */
  .span_success {
    background: url('/css/images/url5.png') left center no-repeat;
    background-size: 10px;
    padding-top: 0px;
    padding-left: 20px; 
  }
  
  /* 泥섎━ �떎�뙣 硫붿떆吏� */
  .span_fail {
    background: url('/css/images/url8.png') left center no-repeat;
    background-size: 10px;
    padding-top: 0px;
    padding-left: 20px; 
  }

  .cart_label {
    width: 50%; 
    text-align: left; 
    float: left; 
    font-size: 1.5em;
  }
  .cart_price {
    width: 50%; 
    text-align: right; 
    float: left; 
    font-size: 1.5em;
  }
  #indexbg {
	background:url("/css/images/bgpark.jpg"); 
	background-repeat : no-repeat;
	background-size: cover;
	height: 80vh;
	opacity: 0.8
}
    
  
  